<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Quiz Page</title>
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">





<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script th:src="@{https://kit.fontawesome.com/9d9680ff7c.js}"
	crossorigin="anonymous"></script>
</head>
<body>

	<th:block th:include="/components/quizPage/header"></th:block>
	<!--/header-->

	<div class="component">
		<h1>Welcome to Quiz HiHi Page</h1>

		<div class="row">
			<div class="col-4">
				<form style="margin: 20px" th:object="${case}"
					th:action="@{/api/v1/quizzHiHi/chooseSub}" method="get">
					<div class="form-group">
						<label for="exampleFormControlSelect1">Category:</label> <select
							name="cateId" th:field="*{cateId}" class="form-control"
							id="exampleFormControlSelect1"
							onchange='if (this.value != "") {
                                        this.form.submit();
                                    }'>

							<option th:value="null">This subject you want to choice</option>
							<th:block th:each="dto : ${listCategory}">
								<option th:value="${dto.cateId}" th:text="${dto.cateName}"></option>

							</th:block>
						</select>
					</div>
				</form>
			</div>

			<div class="col-8">
				<th:block th:if="${listCase != null}">
					<div class="row" style="margin: 20px">
						<th:block th:each="dto : ${listCase}">
							<div class="col-sm-6">
								<div class="card" style="margin: 20px">
									<div class="card-body">
										<h5 class="card-title" th:text="*{dto.caseName}"></h5>
										<p class="card-text">With supporting text below as a
											natural lead-in to additional content.</p>
										<a
											th:href="@{'/api/v1/quizzHiHi/quizzes/playTest?quizCaseId='+${dto.caseId}}"
											class="btn btn-primary">Play a Test</a>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</th:block>
			</div>
		</div>


	</div>
	<div style="margin-top: 450px">
		<th:block th:include="/components/quizPage/footer"></th:block>
	</div>
	<!--/Footer-->

</body>
</html>